.container {
    position: relative;
}

.bg,
.top:before,
.top:after {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.top {
    // background-image: url("ragetroll.jpg");
    background-image: url("ragetroll.jpg");
    height: 99vh;
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        background-image: url("ragetroll.jpg");
    }
    &:before {
        height: 99.5vh;
        opacity: .25;
    }
    &:after {
        opacity: .25;
    }
}

.bottom {
    // background-image: url("dissepointment.jpg");
    background-image: url("dissepointment.jpg");
}