
#siffer {
    margin-top: 7em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 200px;
}

div.bit {
    width: 16px;
    height: 16px;
    background-color: lightblue;
    position: relative;

}

div.bit:after {
    color: blue;
    transform: rotate(-45deg);
    content: attr(data-tall);
    position: absolute;
    top: -28px;
    left: 0;
}

div.on{
    background-color: black;
}