#main {
    background-color: whitesmoke;
    width: 600px;
    height: 600px;
}

#board {
    position: relative;
    background-color: aliceblue;
    left: 25px;
    top:25px;
    width: 550px;
    height: 550px;
}

div.ball {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left:0;
    border-radius: 50%;
    background-color: red;
}